@import "styles/normalize.scss";
@import "styles/root.scss";
@import "styles/fonts.scss";

body {
  font-family: 'Lato', sans-serif;
  color: var(--text-light);
  background-color: #000;
}

.navbar {
  height: 84px;
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;

        
  &__navigation-buttons {
    display: flex;
  }

  &__.menu-arrow {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: none;
    background: rgba(0, 0, 0, 0.5);
  }
  
  &__.back img {
    margin-top: 3px;
    margin-right: 3px;
  }

  &__.forward img {
    margin-top: 3px;
    margin-left: 3px;
  }

  &__.menu-arrow:hover {
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }

  &__.forward {
    margin-left: 24px;
    display: none;
  }

  &__profile {
    padding: 3px 32px 3px 3px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    gap: 12px;
    align-items: center;
    display: none;

    img {
      width: 38px;
      height: 38px;
      border-radius: 50%;
      margin: 0;
      padding: 0;
    }
    
    p {
      margin: 0;
      padding: 0;
      font-weight: 700;
    }
  }

}


@media (min-width: 1024px) {
  
  .navbar {
    padding: 0 50px;

    &__.forward {
      display: block;
    }
    
    &__profile {
      display: flex;
    }

  }
}