@use 'partials/menu';

#playlist-page {
    .info {
        min-height: 434px;
        background-image: url('images/playlist-thumbnail.png');
        background-repeat: no-repeat;
        background-position: 81% 65%;
        background-size: cover;
        position: relative;
    
        &__wrapper {
            display: inline-block;
            padding: 2rem;
            position: absolute;
            bottom: 0;
            left: 0;
            letter-spacing: -0.04em;
        }

        &__wrapper > * {
            margin-top: 16px;
        }

        &__wrapper > div:first-child {
            margin-top: 0;
        }

        &__.category {
            font-size: 1rem;
        }
        
        &__.title {
            font-size: 3rem;
            font-weight: 700;
            line-height: 100%;
        }

        &__.description {
            color: var(--text-gray);
        }
    }

    .songs {
        padding: 24px 16px;

        &__action-buttons {
            display: flex;
        }

        &__action-buttons > * {
            margin-left: 32px;
        }

        &__action-buttons > button:first-child {
            margin-left: 0;
        }

        &__action-buttons > button {
            padding: 0;
            box-sizing: border-box;
            border: none;
            border-radius: 50%;
            background: none;
        }

        &__action-buttons > button:hover {
            cursor: pointer;
        }

        &__.play {
            width: 55px;
            height: 55px;
            background-color: #65D36E;
        }

        &__.play:hover {
            background-color: rgb(59, 198, 70);
        }

        &__.play img {
            margin-top:  10%;
            margin-left: 10%;
        }

        &__.favorite {
            display: flex;
            align-items: center;
        
            svg {
                fill: #BFBFBF;
            }
        }

        &__.favorite:hover svg {
            transition-duration: 0.1s;
            transition-timing-function: ease-out;
            fill: #FEFEFE;
        }
    }
}