
#playlist-page {
    .info {
        min-height: 434px;
        background-image: url('images/playlist-thumbnail.png');
        background-repeat: no-repeat;
        background-position: 81% 65%;
        background-size: cover;
        position: relative;
    
        &__wrapper {
            display: inline-block;
            padding: 2rem;
            position: absolute;
            bottom: 0;
            left: 0;
            letter-spacing: -0.04em;
        }

        &__wrapper > * {
            margin-top: 16px;
        }

        &__wrapper > div:first-child {
            margin-top: 0;
        }

        &__.category {
            font-size: 1rem;
        }
        
        &__.title {
            font-size: 3rem;
            font-weight: 700;
            line-height: 100%;
        }

        &__.description {
            color: var(--text-gray);
        }
    }
}