@use 'partials/menu';

#playlist-page {
    .info {
        min-height: 434px;
        background-image: url('images/playlist-thumbnail.jpg');
        background-repeat: no-repeat;
        background-position: 81% 65%;
        background-size: cover;
        position: relative;
    
        &__wrapper {
            display: inline-block;
            padding: 2rem;
            position: absolute;
            bottom: 0;
            left: 0;
            letter-spacing: -0.04em;
        }

        &__wrapper > * {
            margin-top: 16px;
        }

        &__wrapper > div:first-child {
            margin-top: 0;
        }

        &__.category {
            font-size: 1rem;
        }
        
        &__.title {
            font-size: 3rem;
            font-weight: 700;
            line-height: 100%;
        }

        &__.description {
            color: var(--text-gray);
        }
    }

    .songs {
        padding: 24px 16px;

        &__action-buttons {
            display: flex;
        }

        &__action-buttons > * {
            margin-left: 32px;
        }

        &__action-buttons > button:first-child {
            margin-left: 0;
        }

        &__action-buttons > button {
            padding: 0;
            box-sizing: border-box;
            border: none;
            border-radius: 50%;
            background: none;
        }

        &__action-buttons > button:hover {
            cursor: pointer;
        }

        &__.play {
            width: 55px;
            height: 55px;
            background-color: #65D36E;
        }

        &__.play:hover {
            background-color: rgb(59, 198, 70);
        }

        &__.play img {
            margin-top:  10%;
            margin-left: 10%;
        }

        &__.favorite {
            display: flex;
            align-items: center;
        
            svg {
                fill: #BFBFBF;
            }
        }

        &__.favorite:hover svg {
            transition-duration: 0.1s;
            transition-timing-function: ease-out;
            fill: #FEFEFE;
        }

        .song {
            margin-top: 16px;
            display: grid;
            grid-template-columns: 22px 1fr 1fr;
            width: 100%;
            align-items: center;
            column-gap: 16px;
            padding: 0 1.5rem;
            height: 89px;
            box-sizing: border-box;
            border-radius: 17px;
            background-color: #18181C;
            color: #BFBFBF;
        

            &__number {
                font-size: 18px;
            }

            &__main {
                display: flex;
                align-items: center;
            }

            &__main > img {
                margin-right: 24px;
                width: 56px;
                height: 56px;
            }

            &__info > p {
                padding: 0;
                margin: 6px 0;
            }

            &__.label {
                color: #BFBFBF;
                font-size: 12px;
                font-weight: 700;
            }

            &__.data {
                color: #FFF;
                font-weight: 400;
                font-size: 16px;
            }

            &__info.author, &__info.duration {
                display: none;
            }

            &__menu {
                grid-column: 4;
                align-self: center;
                
                .menu__dot {
                    width: 3px;
                    height: 3px;
                    margin-right: 2px;
                }
            }

        }
    }
}


@media (min-width: 600px) {

    #playlist-page {
        .songs {
            .song {
                grid-template-columns: 22px 11fr 10fr 1fr;
            
                &__info.author {
                    display: block !important;
                }
        
                &__menu {
                    grid-column: 5;
                }
            }
        }
    }
    
}

@media (min-width: 1024px) {

    #playlist-page {
        .songs {
            .song {
                grid-template-columns: 22px 12.4fr 11fr 7fr 1fr;
                column-gap: 32px;
                padding-left: 50px;
                padding-right: 50px;

                &__info.duration {
                    display: block !important;
                }

                &__thumbnail img {
                    margin-right: 32px;
                }

                &__menu {
                    grid-column: 6;
                }
            }
        }
    }
}