.menu {
    padding: 16px;
    border-radius: 50%;

    &__dot {
        display: inline-block;
        border-radius: 50%;
        width: 3.83px;
        height: 3.83px;
        background-color: #bfbfbf;
        margin-right: 1px;
        transform: translateY(-3px);
    }

    &__dot:last-child {
        margin-right: 0;
    }
}

.menu:hover .menu__dot {
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
    background-color: #FEFEFE;
}

.menu:hover {
    transition: background 0.1s ease-out;
    background-color: rgba(255, 255, 255, 0.05);
}
